page-home {

}
.button2 {
    width : 150px;
    height: 150px;
    font-size: 42pt;
   // background-color: lightcyan;
}

.X {
    width : 150px;
    height: 150px;
    font-size: 42pt;
    color: red;
}

.O{
    width : 150px;
    height: 150px;
    font-size: 42pt;
    color: blue;
}

